@font-face { font-family: 'Open Sans'; src: url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf'); } 
@font-face { font-family: 'Open Sans ExTraBold'; src: url('../fonts/OpenSans-ExtraBold.ttf'); } 
@font-face { font-family: 'Open Sans ExTraBold Italic'; src: url('../fonts/OpenSans-ExtraBoldItalic.ttf'); } 
*{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding : 0px;
}

body {
    background-color:  rgba(238,236,236,1) !important;
}

.marco-logo {
    background: #ffffff;
    margin-top: -8px !important;
    margin-bottom: -8px;
    padding: 20px;
    box-shadow: 8px 8px 8px 8px #05102603
}

.navbar-nav .nav-link {
    color: #051026;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

ul.navbar-nav {
    margin-left: 20px;
}

.carousel-item img {
    margin-top: -50px !important;
    margin: 0 auto;
}

.carousel-indicators li {
    border-radius: 100%;
    height: 76px !important;
    width: 76px !important;
    opacity: 1 !important;
    background-color: #051026 !important;
}

.carousel-indicators {
    right: inherit !important;
    margin-left: 30px !important;
}

.carousel-indicators .active {
    opacity: .5 !important;
}

button.carousel-control-prev {
    display: none;
}
button.carousel-control-next {
    display: none;
}

.fill { 
    min-height: 100%;
    height: 100%;
    height: 860px !important;
}

.w-30 {
    height: 870px !important;
    width: auto;
}

.fill-prd-popular {
    background-color: #FAFAFA;
    height: 800px !important;
    padding-top: 80px;
}

.fill-prd-todos {
    background-color: #030A17;
    padding-top: 80px;
    padding-bottom: 80px;
}

.Heading_cf{
    transform: rotate(-90deg);
}

.ofertas_populares {
    margin-left: -400px;
    text-align: right;
    line-height: 70px;
    color: #051026 !important;
}

.ofertas_populares span {
    font-family: 'Open Sans ExTraBold Italic';
    font-size: 80px;
    font-weight: 900;
}

.sp-popular {
    font-size: 100px !important;
}

.ofertas_populares_svg {
    margin-left: 20px;
}

.w-card-prd {
    width: auto !important;
    height: 360px;
}

.card-prd {
    border-radius: 0 !important;
    border: none !important;
}

.card.card-precio-2 {
    border: none;
    border-radius: 0 !important;
}

li.list-group-item-precio {
    border-bottom: 1px #ccc dashed;
    text-align: center;
}

.card-header.card-precio {
    padding: 0 15px 0 15px !important;
    background-color: #F5F5F5;
    /* border: none; */
}

.card-header {
    background-color: transparent !important;
    border-bottom: none !important;
}

.list-group-item {
    background-color: #F5F5F5 !important;
    
}

.titulo-card-precio{
    margin-top: 15px;
}

.sp-titulo-precio-marca {
    font-family: 'Open Sans ExTraBold Italic';
    color: #051026 !important;
    font-size: 36px;
    font-weight: 900;
}

.list-group-item-precio-edit {
    font-family: 'Open Sans ExTraBold Italic';
    color: #051026 !important;
    font-size: 18px;
    font-weight: 900;
}

.card-prd:hover{
    box-shadow: 8px 8px 8px 8px #05102610
}

.card-prd:hover .card-precio .card-precio-2 .list-group .list-group-item{
    background-color: #051026 !important;
    color: #FAFAFA !important;
}

.card-prd:hover .card-precio .card-precio-2 .list-group .list-group-item a{
    color: #FAFAFA !important;
}

.list-group .list-group-item a{
    color: #051026 !important;
}

.titulo-productos-todos {
    color: #F5F5F5;
    font-family: 'Open Sans ExTraBold Italic';
    font-size: 40px;
    font-weight: 900;
}

.row-titulo-escoge-tu-prd {
    padding-bottom: 60px;
    padding-left: 44px;
}

.row-titulo-escoge-tu-prd svg {
    margin-bottom: 17px;
}

footer {
    background: rgba(238,236,236,1) !important;
    height: 650px !important;
    overflow: hidden;
}

footer img {
    opacity: 0.5;
}

.marca-agua-atrix {
    position: absolute !important;
    left: 50%;
    transform: translate(-50%, 100%) !important;
    color: #051026;
    font-family: 'Open Sans ExTraBold Italic';
    font-size: 160px;
    font-weight: 900;
}

a:link, a:visited, a:active {
    text-decoration: none !important;
}

.container-fluid.tarjeta-popular {
    margin-bottom: 40px;
}


.fill-prd-seleccionado {
    background-color: #FAFAFA;
    height: 850px !important;
    padding-top: 125px;
}